{% trans_default_domain "NitraActionManagementBundle" %}
{% if actions is not empty %}
    <aside class="actions_block">
        {% block actions %}
            {% block title %}<h3>{{ 'action.list_title'|trans }}</h3>{% endblock title %}

            {% block actions_list %}
                {% for action in actions %}
                    {% block action_item %}
                        <article class="item">
                            {% block action_item_content %}
                                {% block action_name %}
                                    <a class="name" href="{{ path('actions_page', {'slug' : action.alias}) }}">{{ action.name }}</a>
                                {% endblock action_name %}

                                {% block action_image %}
                                    {% if action.image is defined and action.image is not empty %}
                                        {% block action_image_content %}
                                            <a class="image" href="{{ path('actions_page', {'slug' : action.alias}) }}">
                                                <img src="{{ action.image|imagine_filter('action_small',true) }}" alt="{{ action.name }}">
                                            </a>
                                        {% endblock action_image_content %}
                                    {% endif %}
                                {% endblock action_image %}

                                {% block action_date %}
                                    {% if action.dateFrom or action.dateTo %}
                                        {% block action_date_content %}
                                            <div class="date">
                                                {% block date_range %}
                                                    {{ action.dateFrom ? 'action_date.action_from'|trans ~ action.dateFrom|date("d.m.Y") }}
                                                    {{ action.dateFrom and action.dateTo ? 'action_date.to'|trans : (action.dateTo ? 'action_date.action_to'|trans) }}
                                                    {{ action.dateTo ? action.dateTo|date("d.m.Y") }}
                                                {% endblock date_range %}
                                            </div>
                                        {% endblock action_date_content %}
                                    {% endif %}
                                {% endblock action_date %}

                                {% block action_desc %}
                                    {% if action.shortDescription|striptags|trim %}
                                        {% block action_desc_content %}
                                            <div class="short_desc">
                                                {{ action.shortDescription|raw }}
                                            </div>
                                        {% endblock action_desc_content %}
                                    {% endif %}
                                {% endblock action_desc %}

                                {% block action_link_more %}
                                    <a class="read_more" href="{{ path('actions_page', {'slug' : action.alias}) }}"><span>{{ 'action.read_more'|trans }}</span></a>
                                {% endblock action_link_more %}
                            {% endblock action_item_content %}
                        </article>
                    {% endblock action_item %}
                {% endfor %}
            {% endblock actions_list %}

            {% block actions_list_link %}
                <a class="look_all" href="{{ path('actions_page', {'slug' : '' }) }}"><span>{{ 'action.look_all'|trans }}</span></a>
            {% endblock actions_list_link %}
        {% endblock actions %}
    </aside>
{% endif %}