{% extends "::base.html.twig" %}
{% trans_default_domain "NitraActionManagementBundle" %}

{% block canonical %}
    {% if products.getCurrentPageNumber < products.getPaginationData.pageCount %}
        <link rel="next" href="{{ path("actions_page", app.request.attributes.get('_route_params')|merge({'page': products.getCurrentPageNumber+1})) }}">
    {% endif %}
    {% if (products.getCurrentPageNumber > 1) %}
        <link rel="prev" href="{{ path("actions_page", app.request.attributes.get('_route_params')|merge({'page': products.getCurrentPageNumber-1})) }}">
    {% endif %}
{% endblock canonical %}

 {% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'info', 'uri': app.request.uri, 'object': action, 'page': 'actions_page'}) %}
 {% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'uri': app.request.uri, 'object': action, 'page': 'actions_page'}) %}
{% endblock main_seotext %}

{% block content_class 'action_page' %}

{% block content %}
    {% block title %}<h1>{{ action.name }}</h1>{% endblock title %}

    {% block action_date %}
        {% if action.dateFrom or action.dateTo %}
            {% block action_date_content %}
                <div class="date">
                    {% block date_range %}
                        {{ action.dateFrom ? 'action_date.action_from'|trans ~ action.dateFrom|date("d.m.Y") }}
                        {{ action.dateFrom and action.dateTo ? 'action_date.to'|trans : (action.dateTo ? 'action_date.action_to'|trans) }}
                        {{ action.dateTo ? action.dateTo|date("d.m.Y") }}
                    {% endblock date_range %}
                </div>
            {% endblock action_date_content %}
        {% endif %}
    {% endblock action_date %}

    {% block action_image %}
        {% if action.image is defined and action.image is not empty %}
            {% block action_image_content %}
                <figure><img src="{{ action.image|imagine_filter('action_big',true) }}" alt="{{ action.name }}"></figure>
            {% endblock action_image_content %}
        {% endif %}
    {% endblock action_image %}

    {% block action_desc %}
        {% if action.description|striptags|trim is not empty %}
            {% block action_desc_content %}
                <div class="description">
                    {{ action.description|raw }}
                </div>
            {% endblock action_desc_content %}
        {% endif %}
    {% endblock action_desc %}

    {% block action_products %}
        {% if products is not empty %}
            {% block action_products_content %}
                {% block products_title %}<h3 class="title">{{ 'action.products'|trans }}</h3>{% endblock products_title %}

                {% block product_list %}
                    {% render controller("NitraProductBundle:Product/Product:formatProductList", {'products' : products}) %}
                {% endblock product_list %}
            {% endblock action_products_content %}
        {% endif %}
    {% endblock action_products %}

{% endblock content %}