{% trans_default_domain "NitraActionManagementBundle" %}
{% block action_info %}
    <div class="action_box">
        {% block action_info_content %}
            {% block action_image %}
                {% if thisProductAction.image is defined and thisProductAction.image is not empty %}
                    {% block action_image_content %}
                        <a class="action_image" href="{{ path('actions_page', {'slug': thisProductAction.alias}) }}">
                             <img src="{{ thisProductAction.Image|imagine_filter('action_product',true) }}" alt="{{ thisProductAction.name }}">
                        </a>
                    {% endblock action_image_content %}
                {% endif %}
            {% endblock action_image %}

            {% block action_desc %}
                <div class="action_desc">{{ thisProductAction.productShortDescription|raw }}</div>
            {% endblock action_desc %}

            {% block action_link_more %}
                <a class="read_more" href="{{ path('actions_page', {'slug': thisProductAction.alias}) }}"><span>{{ 'action.read_more'|trans }}</span></a>
            {% endblock action_link_more %}
        {% endblock action_info_content %}
    </div>
{% endblock action_info %}
