{% extends "::base.html.twig" %}
{% trans_default_domain "NitraActionManagementBundle" %}

 {% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'info', 'uri': app.request.uri}) %}
 {% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'uri': app.request.uri}) %}
{% endblock main_seotext %}

{% block content_class 'action_list_page' %}

{% block content %}
    {% if actions is not empty %}
        {% block title %}<h1>{{ 'action.list_title'|trans }}</h1>{% endblock title %}

        {% block actions_list %}
            <section class="actions_list">
                {% block actions_list_content %}
                    {% for action in actions %}
                        {% block actions_list_item %}
                            <article class="item {{ loop.first ? 'first' }}">
                                {% block actions_list_item_content %}
                                    {% block action_name %}
                                        <a class="title" href="{{ path('actions_page', {'slug' : action.alias})}}"><h3>{{ action.name }}</h3></a>
                                    {% endblock action_name %}

                                    {% block action_image %}
                                        {% if action.image is defined and action.image is not empty %}
                                            {% block action_image_content %}
                                                <a class="image" href="{{ path('actions_page', {'slug' : action.alias}) }}"><img src="{{ action.image|default('images/no_image.jpg')|imagine_filter('action_medium',true) }}" alt="{{ action.name }}"/></a>
                                            {% endblock action_image_content %}
                                        {% endif %}
                                    {% endblock action_image %}

                                    {% block action_date %}
                                        {% if action.dateFrom or action.dateTo %}
                                            {% block action_date_content %}
                                                {% block date_range %}
                                                    <div class="date">
                                                        {% block date_range_content %}
                                                            {{ action.dateFrom ? 'action_date.action_from'|trans ~ action.dateFrom|date("d.m.Y") }}
                                                            {{ action.dateFrom and action.dateTo ? 'action_date.to'|trans : (action.dateTo ? 'action_date.action_to'|trans) }}
                                                            {{ action.dateTo ? action.dateTo|date("d.m.Y") }}
                                                        {% endblock date_range_content %}
                                                    </div>
                                                {% endblock date_range %}

                                                {% block time_remaining %}
                                                        {#
                                                        {% if timeRemaining[action.id] is defined %}
                                                            {{ timeRemaining[action.id].d|declension('action_time_remaining.day'|trans, 'action_time_remaining.day2'|trans, 'action_time_remaining.day3'|trans) }}
                                                            {{ timeRemaining[action.id].h|declension('action_time_remaining.hour'|trans, 'action_time_remaining.hour2'|trans, 'action_time_remaining.hour3'|trans) }}
                                                            {{ timeRemaining[action.id].i }} {{ 'action_time_remaining.min'|trans }}
                                                        {% endif %}
                                                        #}
                                                {% endblock time_remaining %}
                                            {% endblock action_date_content %}
                                        {% endif %}
                                    {% endblock action_date %}

                                    {% block action_desc %}
                                        {% if action.shortDescription|striptags|trim %}
                                            {% block action_desc_content %}
                                                <div class="short_desc">
                                                    {{ action.shortDescription|raw }}
                                                </div>
                                            {% endblock action_desc_content %}
                                        {% endif %}
                                    {% endblock action_desc %}

                                    {% block action_link_more %}
                                        <a class="read_more" href="{{ path('actions_page', {'slug' : action.alias}) }}"><span>{{ 'action.read_more'|trans }}</span></a>
                                    {% endblock action_link_more %}

                                {% endblock actions_list_item_content %}
                            </article>
                        {% endblock actions_list_item %}
                    {% endfor %}
                {% endblock actions_list_content %}
            </section>
        {% endblock actions_list %}
    {% endif %}
{% endblock content %}